.container{
    border-top: 2px solid #000;
    display: flex;
    padding: 40px;
}

.text{
    width: 50%;
    font-size: 36px;
}

.logos{
    width: 50%;
}

.logos img {
    height: 15vh;
    width: 15vw;
}